<?xml version="1.0" ?>
<robot name="example_robot_xacro" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:arg name="robot_name" default="plane_xacro_default"/>
  
  <xacro:macro name="plane_xacro" params="name:=robot">
    <gazebo>
      <plugin filename="/home/eitan/mcfoamy_gazebo/devel/lib/libgazebo_plane.so" name="gazebo_plane">
        <robotNamespace>${name}</robotNamespace>
      </plugin>
    </gazebo>
    <link name="${name}_link">
      <inertial>
        <mass value=".45"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.003922" ixy="0.0" ixz="0.0" iyy="0.01594" iyz="0.0" izz="0.01934"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://gazebo_example/meshes/plane.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.2 1.0 0.2"/>
        </geometry>
      </collision>
    </link>


  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz=".2 0 .2" rpy="0 0 0"/>
    <parent link="${name}_link"/>
    <child link="kinect"/>
  </joint>

  <!-- Camera -->
  <link name="kinect">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.073000 0.276000 0.072000"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.073000 0.276000 0.072000"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="1e-19" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-19" ixy="0" ixz="0" iyy="1e-19" iyz="0" izz="1e-19" />
    </inertial>
  </link>

    <gazebo reference="kinect">
    <sensor type="depth" name="camera">
      <update_rate>30.0</update_rate>
      <camera>
        <horizontal_fov>1.50098</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.2</near>
          <far>10</far>
        </clip>
      </camera>
        <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.2</baseline>
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>camera_ir</cameraName>
          <imageTopicName>/camera/depth/image_raw</imageTopicName>
          <cameraInfoTopicName>/camera/depth/camera_info</cameraInfoTopicName>
          <depthImageTopicName>/camera/depth/image_raw</depthImageTopicName>
          <depthImageInfoTopicName>/camera/depth/camera_info</depthImageInfoTopicName>
          <pointCloudTopicName>/plane_xacro_default/points</pointCloudTopicName>
          <frameName>camera_link</frameName>
          <pointCloudCutoff>0.2</pointCloudCutoff>
          <pointCloudCutoffMax>10.0</pointCloudCutoffMax>
          <distortionK1>0</distortionK1>
          <distortionK2>0</distortionK2>
          <distortionK3>0</distortionK3>
          <distortionT1>0</distortionT1>
          <distortionT2>0</distortionT2>
          <CxPrime>0</CxPrime>
          <Cx>0</Cx>
          <Cy>0</Cy>
          <focalLength>0</focalLength>
          <hackBaseline>0</hackBaseline>
        </plugin>
    </sensor>
  </gazebo>



  </xacro:macro>
  
  <xacro:plane_xacro name="$(arg robot_name)" />
</robot>
